In [11]:
import tweepy
import pandas as pd
import numpy as np
import re
import csv
import string

In [5]:
api_key = "TCPfuZbCcqQxwnOkIS8pY58dR"
api_secret_key = "amknSLzf82Qr2HFHQ7Ojxf9cEpYwcleCpSXgVUPMV8LflHyRZL"
access_token = "1590922003518656513-PzhUXkIFueBAPFDm3IG7rtaJMyOmkW"
access_token_secret = "9U9BOiXBS41ZYLTljX9bWZysCcVute3aYHTTBpr8T6vqD"

In [6]:
auth = tweepy.OAuthHandler(api_key, api_secret_key)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit = True)

In [7]:
search_key = "karen's diner"

csvfile = open(search_key+".csv", "a+", newline="", encoding="utf-8")
csvwriter = csv.writer(csvfile)
u = []
t = []

for tweet in tweepy.Cursor(api.search, q = search_key, count =1000, lang="id").items(1000):
  # print(tweet.user.name, tweet.text)
  u.append(tweet.user.name)
  t.append(tweet.text.encode("utf-8"))
  tweets = [tweet.user.name, tweet.text.encode("utf-8")]
  csvwriter.writerow(tweets)

dictTweets = {"username":u, "teks":t}
df = pd.DataFrame(dictTweets, columns = ["username", "teks"])

df

                   username                                               teks
0                       sal  b'RT @asonofapeach: Karen\xe2\x80\x99s Diner? ...
1              Nazwa soraya  b"RT @handokotjung: *Anak dari keluarga tidak ...
2            Anggirengganis  b'Mau reschedule tgl reservasi for karen\xe2\x...
3      Farchan Noor Rachman  b'RT @KrisnaERLG: Ini baru Karen\xe2\x80\x99s ...
4                md jackson  b'RT @asonofapeach: Karen\xe2\x80\x99s Diner? ...
..                      ...                                                ...
995    hourly nightblogging  b"RT @natanattda: ini baru karen's diner https...
996          Intan Paramita  b"RT @ikanatassa: orang medan masuk karen's di...
997                      Mi  b"RT @newsplatter: Bawa Filosofi Teras terus m...
998  waiting byun baekhyunüêø  b'RT @skijiegff: \xf0\x9f\x8c\xb7rekomendasi t...
999                      na  b"RT @handokotjung: *Anak dari keluarga tidak ...

[1000 rows x 2 columns]

In [8]:
df = df.drop_duplicates(subset= 'teks', keep='first', inplace=False)
df

,username,teks
0,sal,b'RT @asonofapeach: Karen\xe2\x80\x99s Diner? ...
1,Nazwa soraya,"b""RT @handokotjung: *Anak dari keluarga tidak ..."
2,Anggirengganis,b'Mau reschedule tgl reservasi for karen\xe2\x...
3,Farchan Noor Rachman,b'RT @KrisnaERLG: Ini baru Karen\xe2\x80\x99s ...
5,Krisna Erlangga,b'Ini baru Karen\xe2\x80\x99s Diner. https://t...
...,...,...
965,Aree,b'BENER-BENER GA PERLU KE KAREN\xe2\x80\x99S D...
970,—ÉŒ±–∏Œ± –ΩŒ±œÖ‚àÇ—É,"b""Waiter and waitress Karen's Diner apa ga cpt..."
974,Hype | Influencer Marketing App,b'Kalian emangnya masih tergugah ya seleranya ...
978,‡∏Ö‚Å†^‚Å†‚Ä¢‚Å†Ôªå‚Å†‚Ä¢‚Å†^‚Å†‡∏Ö,"b""ngapain ke karen's diner indo yg juteknya fa..."
983,muja hidin,b'RT @ganjarjos2: Ganjar Pranowo dan Istri Jog...

In [12]:
def cleanTxt(text):
  text = re.sub(r'@[A-Za-z0-9]+','',text) #Remove @mentions
  text = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", text) #Remove http links
  text = re.sub(r'#', '', text) #Removing the '#' simbol
  text = re.sub(r'RT[\s]+', '', text) #Removing RT
  text = re.sub(r'https?:\/\/S+', '', text) #Remove the hyperlink
  text = re.sub(r'[^\w]|_',' ',text) #remove punctuations
  text = re.sub(r'b[\s]+', '', text) #Removing RT

  return text

#Cleaning the text

df['teks'] = df['teks'].apply(cleanTxt)

#Show the cleaned text
df

TypeError: ignored

In [ ]:
from google.colab import files
df.to_csv('dataset.csv', encoding = 'utf-8-sig') 
files.download('dataset.csv')